<form #myForm="ngForm">
    <div class="py-5">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
      
            <div class="card rounded-0">
              <div class="card-header">
                <h3 class="mb-0">Login</h3>
              </div>
              <div class="card-body">
                <form class="form">
                  <div class="form-group">
                    <label for="uname1">Username</label>
                    <input type="text" class="form-control rounded-0" [(ngModel)]="loginUserData.email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control rounded-0" [(ngModel)]="loginUserData.password" name="password" required>
                  </div>
                  <button type="button" (click)="loginUser()" class="btn btn-success float-right">Login</button>
                </form>
              </div>
            </div>
      
          </div>
  

        </div>
      </div>
    
    </form>

        
    tuteurs :&nbsp; &nbsp;
    <button (click)="loginThisUser('tuteur1@tuteur1.com','tuteur1')"
    type="button" class="btn btn-primary btn-xs">
       user: tuteur1@tuteur1.com , pwd: tuteur1
    </button>
    &nbsp; &nbsp;
    <button (click)="loginThisUser('tuteur2@tuteur2.com','tuteur2')"
    type="button" class="btn btn-primary btn-xs">
       user: tuteur2@tuteur2.com , pwd: tuteur2
    </button>
    &nbsp; &nbsp;
<button (click)="loginThisUser('tuteur3@tuteur3.com','tuteur3')"
    type="button" class="btn btn-primary btn-xs">
       user: tuteur3@tuteur3.com , pwd: tuteur3
    </button>

   
<br><br>
clients: &nbsp; &nbsp;

<button (click)="loginThisUser('client1@client1.com','client1')"
    type="button" class="btn btn-primary btn-xs">
       user: client1@client1.com , pwd: client1
    </button>
&nbsp; &nbsp;
    <button (click)="loginThisUser('client2@client2.com','client2')"
    type="button" class="btn btn-primary btn-xs">
       user: client2@client2.com , pwd: client2
    </button>
    &nbsp; &nbsp;

    <button (click)="loginThisUser('client3@client3.com','client3')"
    type="button" class="btn btn-primary btn-xs">
       user: client3@client3.com , pwd: client3
    </button>

    