/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~ng-pick-datetime/assets/style/picker.min.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@import '~ngx-toastr/toastr';
//@import '~ngx-toastr/toastr-bs4-alert';
//@import '~bootstrap/scss/functions';

//@import '~bootstrap/scss/variables'; 
//@import '~bootstrap/scss/mixins';
//@import '~ngx-toastr/toastr-bs4-alert';

.jumbotron{
    padding-top: 0px;
    background: #fff;
}

.form-control,.input-group-text{
    border:1px solid #0080ff;
}

table.table-hover tbody tr:hover{
cursor: pointer;
}